@import '~src/assets/css-variables.scss';

.radio-group {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.radio-button {
  margin: 5px;
}

.divider {
  position: relative;
  margin-top: $divider-margin;
}

.array {
  button {
    margin-right: $button-margin;
    margin-top: $button-margin;
  }
}
