<div [formGroup]="form" *ngIf="question.showQuestion(form)">



  <div [ngSwitch]="question.controlType">

    <mat-form-field *ngSwitchCase="'textbox'" class="example-full-width">
      <input [formControlName]="question.key" [id]="question.key" [type]="question.type" matInput
        placeholder="{{question.label | translate}}">
      <mat-error *ngIf="!isValid">
        {{question.label}} is required
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'dropdown'">
      <mat-label>{{question.label | translate}}</mat-label>
      <mat-select [id]="question.key" [formControlName]="question.key">
        <mat-option *ngFor="let option of question.options" [value]="option.value">
          {{option.label}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="!isValid">
        {{question.label | translate}} is required
      </mat-error>
    </mat-form-field>

    <div *ngSwitchCase="'radio'">
      <mat-radio-group [id]="question.key" [formControlName]="question.key" class="radio-group"
        attr.aria-labelledby="{{question.key + '-label'}}">
        <mat-label [id]="question.key + '-label'" [attr.for]="question.key">{{question.label | translate}}</mat-label>
        <mat-radio-button *ngFor="let option of question.options" [value]="option.value" class="radio-button">
          {{option.label}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <mat-card *ngSwitchCase="'array'">
      <ng-container *ngFor="let subsection of question.value; let i = index">
        <div *ngFor="let q of subsection">
          <app-question [question]="q" [form]="form.get(question.key + '.' + i)"></app-question>
        </div>
        <br>
        <button mat-raised-button color="warn" type="button" class="ui-button-raised ui-button-danger"
          (click)="question.remove(i, form.get(question.key))">{{question.removeLabel}}</button>
        <hr>
        <br>
      </ng-container>
      <button mat-raised-button color="primary" type="button" class="ui-button-raised ui-button-success"
        (click)="question.add(form.get(question.key), form.get(question.key).length)">{{question.addButtonLabel | translate}}</button>
    </mat-card>

    <mat-form-field *ngSwitchCase="'date'">
      <input matInput [matDatepicker]="picker" [placeholder]="question.label" [formControlName]="question.key">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="!isValid">
        {{question.label | translate}} is required
      </mat-error>
    </mat-form-field>
  </div>

</div>
