<div class="form">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">

      <div *ngFor="let question of questions" class="form-row">
        <app-question [question]="question" [form]="form"></app-question>
      </div>


      <div class="form-row">
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid"
          class="ui-button-raised ui-button-success">Save</button>
      </div>
    </form>

    <div class="form-row">
      {{form.value | json}}
    </div>
  </mat-card>
</div>
