$header-height: 80px;
$background-color: #252f5f;
$logo-padding: 2px;

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: $header-height;
  background-color: $background-color;
}

.content {
  position: fixed;
  top: $header-height;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: auto;

  background-image: url("~/assets/students-rhossili-beach-1600-788-med.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

a.home-link {
  img {
    position: relative;
    top: $logo-padding;
    left: $logo-padding;
    height: $header-height - 2 * $logo-padding;
  }
}


.expand-burger-button {
  height: 100%;
  float: right;
  color: white;
  font-size: 30px;
  padding: 18px;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;

  &:hover {
    background-color: lighten($background-color, 10%);
  }

  @media only screen and (min-width: 600px) {
    display: none;
  }
}
