<div [formGroup]="form" *ngIf="question.showQuestion(form)">

  <label [attr.for]="question.key">{{question.label}}</label>

  <div [ngSwitch]="question.controlType">

    <input *ngSwitchCase="'textbox'" [formControlName]="question.key" [id]="question.key" [type]="question.type"
      pInputText>

    <p-dropdown *ngSwitchCase="'dropdown'" [id]="question.key" [options]="question.options"
      [formControlName]="question.key"></p-dropdown>

    <div *ngSwitchCase="'array'">
      <ng-container *ngFor="let subsection of question.value; let i = index">
        <p-card class="form-row">
          <div *ngFor="let q of subsection">
            <app-question [question]="q" [form]="form.get(question.key + '.' + i)"></app-question>
          </div>
          <button type="button" (click)="question.remove(i, form.get(question.key))">Remove</button>
        </p-card>
        <br>
      </ng-container>
      <button type="button" (click)="question.add(form.get(question.key), form.get(question.key).length)">Add</button>
    </div>


  </div>

  <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>
</div>
